        <nav>
            <a href="https://webpages.charlotte.edu/bmelling/">Charlotte.edu</a> ~
            <a href="https://github.com/bmelling-stack/bmelling-stack.github.io">Github</a> ~
            <a href="https://bmelling-stack.github.io/itis3135">Github.io</a> ~ 
            <a href="https://www.freecodecamp.org/bmelling">FreeCodeCamp</a> ~ 
            <a href="https://www.codecademy.com/profiles/bmellingUNCC">Codecademy</a> ~ 
            <a href="https://www.linkedin.com/in/brian-mellinger/">LinkedIn</a> ~
            <a href="https://bmelling-stack.github.io/itis3135/about">About</a> ~
            <a href="https://bmelling-stack.github.io/itis3135/website_evaluation">Website Evaluations</a>
        </nav>
        <p> Page built by <a href="mellingerenterprises.com/">Mellinger Enterprises</a>&copy; 2025</p>